.type-91 .college-box .course-events {
  background: #ffffff;
  border-top: 1px solid #f3efe7;
  padding: 55px 0 37px 0;
}
.type-91 .wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .type-91 .wrapper {
    width: 96%;
  }
}
@media (max-width: 990px) {
  .type-91 .college-box .course-events {
    padding-top: 55px;
  }
}
.type-91 .college-box .course-events .col-4 {
  padding-right: 10px;
  box-sizing: border-box;
}
.type-91 .our-college-sidebar article {
  display: block;
}
.type-91 .our-college-sidebar article:hover {
  box-shadow: 0 0 10px #cecece;
  cursor: pointer;
}
.type-91 article {
  margin: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 .our-college-sidebar article {
  box-sizing: border-box;
  background: #fffcf5;
  border: 1px solid #f3efe7;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 35.5px 28px 22px 28px;
  position: relative;
  transition: all 300ms ease-in-out;
}
.type-91 h3 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  list-style: none;
  font-style: normal;
  color: #2f251a;
  font-family: PT Serif;
}
.type-91 .our-college-sidebar article h3 {
  font-size: 27px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  font-weight: 700;
  text-align: center;
}
.type-91 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-91 p {
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 p {
  margin: 0 0 1em 0;
  text-align: left;
  line-height: 1.5;
}
.type-91 .our-college-sidebar article p {
  font-size: 12px;
  position: relative;
  z-index: 2;
  font-family: 'Tahoma', 'Arial', 'sans-serif';
}
.type-91 .our-college-sidebar article p {
  color: #8d7a65;
}
.type-91 a {
  margin: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 a {
  text-decoration: none;
  cursor: pointer;
}
.type-91 .our-college-sidebar article a {
  display: block;
  position: absolute;
  padding: 24px 20px 20px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 50%;
  z-index: 1;
  left: 50%;
  margin-left: -50px;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}
.type-91 .our-college-sidebar article a {
  font-family: PT Sans;
}
.type-91 span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 .col-md-8 {
  float: left;
}
.type-91 .college-box .course-events .col-md-8 {
  padding-left: 4%;
  box-sizing: border-box;
}
.type-91 .no-margin {
  margin: 0;
}
.type-91 section {
  display: block;
}
.type-91 section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 .flexslider {
  overflow: hidden;
}
.type-91 .flexslider .swiper-slide article:hover {
  transform: scaleY(1.01);
  box-shadow: 0px 0 10px #cecece;
  cursor: pointer;
}
.type-91 .college-box .course-events .col-md-8 .events {
  position: relative;
}
.type-91 h3 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-91 h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  list-style: none;
}
.type-91 h3 {
  font-style: normal;
  color: #2f251a;
  font-family: PT Serif;
}
.type-91 .college-box .course-events .col-md-8 .events>h3 {
  font-size: 27px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}
.type-91 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.type-91 ul {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.type-91 .flexslider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.type-91 li {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.type-91 flexslider ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: 2;
}
.type-91 .flexslider .slides li {
  text-align: left;
}
.type-91 element.style {
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 0;
  display: block;
  z-index: 1;
}
.type-91 article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 .college-box .course-events .col-md-8 .events article {
  padding-top: 32px;
  padding-bottom: 33px;
  border-bottom: 1px solid #d8d2c9;
}
.type-91 .college-box .course-events .col-md-8 .events article:last-child {
  border: none;
}
.type-91 span {
  margin: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 .college-box .course-events .col-md-8 .events article .date {
  font-size: 31px;
  display: block;
  width: 64px;
  background: #f3efe7;
  text-align: center;
  padding: 11px 0;
  line-height: 0.7em;
  float: left;
  font-weight: 700;
  margin-right: 22px;
}
.type-91 span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 .college-box .course-events .col-md-8 .events article .date span {
  font-size: 11px;
  display: block;
  font-weight: 100;
}
.type-91 .college-box .course-events .col-md-8 .events article .date span {
  color: #afa293;
}
.type-91 h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  font-family: PT Serif;
  font-style: normal;
}
.type-91 .college-box .course-events .col-md-8 .events article h3 {
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 16px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #3b2409;
}
.type-91 a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 a {
  text-decoration: none;
  cursor: pointer;
  transition: color 100ms linear;
}
.type-91 .college-box .course-events .col-md-8 .events article h3 a {
  color: #3b2409;
}
.type-91 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-91 p {
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}
.type-91 p {
  margin: 0 0 1em 0;
  text-align: left;
}
.type-91 .college-box .course-events .col-md-8 .events article p {
  line-height: 1.7em;
  margin-bottom: 0;
  font-family: 'MSReferenceSansSerif';
}
.type-91 .college-box .course-events .col-md-8 .events article p {
  color: #8d7a65;
}
.type-91 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.type-91 ul {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.type-91 .flex-direction-nav {
  height: 0;
  margin: 0 !important;
  width: 100%;
}
.type-91 .flexslider ul {
  padding: 0;
  list-style: none;
}
.type-91 li {
  text-align: -webkit-match-parent;
}
.type-91 li {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.type-91 .flex-direction-nav li {
  display: inline-block;
}
.type-91 .flexslider ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.type-91 a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.type-91 .flex-direction-nav li a {
  font-size: 0;
  color: transparent;
  display: block;
  text-indent: -100%;
  overflow: hidden;
  width: 30px;
  height: 32px;
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 2;
}
.type-91 .flex-direction-nav li a:hover:before {
  color: black;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#cec5b3),color-stop(1,#a59471));
}
.type-91 .flex-direction-nav li a:before {
  content: "\f104";
  font-size: 26px;
  width: 30px;
  height: 32px;
  text-align: center;
  text-indent: 0;
  position: absolute;
  color: #ffffff;
  left: 0;
  display: block;
  line-height: 31px;
  font-family: 'FontAwesome';
  border-bottom: 2px solid #c5bba8;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#cec5b3),color-stop(1,#d7d0c1));
  transition: all 300ms ease-in-out;
}
.type-91 .flex-direction-nav li a {
  font-size: 0;
  color: transparent;
  display: block;
  text-indent: -100%;
  overflow: hidden;
  width: 30px;
  height: 32px;
  position: absolute;
  top: 0;
  z-index: 2;
}
.type-91 .flex-direction-nav li a.flex-next {
  right: 0;
}
.type-91 .flex-direction-nav li a.flex-next:before {
  content: "\f105";
  border-left: 1px solid #c5bba8;
}
